.box {
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 40px 1fr;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
}

.box .box-children {
    grid-column: 1 / 3;
}

.box .title {
    font-size: 1.45em;
    font-weight: normal;
}

.box .link {
    text-align: right;
    margin: auto 0;
}

.no-link > .title {
    grid-column: 1 / 3;
}